.homepage-container {
    width: 100vw;
    height: fit-content;
    padding: 50px;
    background: #757F9A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */







    overflow: hidden;
}

.cta-btn {
    background-color: #ffb703 !important;
    border: 2px solid #fac12f !important;
    transition: all .4s ease-in-out;
    border-radius: 0 !important;
    /* border: 1px solid black; */
}

.cta-btn:hover {
    cursor: pointer;
    background-color: #ffb80381 !important;
    border: 2px solid black !important;
}

.showcta {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 97, 97);

}

.showcta_child {
    width: 50%;
    height: 50%;
    background-color: rgb(92, 16, 16);
}

@media (min-width:320px) and (max-width:550px) {

    html {
        font-size: 50%;
    }

    .homepage-container {
        width: 100vw;
        height: 100vh;
        padding: 50px;
        background-color: rgba(232, 236, 236, 0.993);
        overflow: hidden;
    }


}