.card {
    height: 420px !important;
    overflow: hidden;
}

.card img {
    height: 60% !important;
    transition: all .4s ease-in-out;
    overflow: hidden;
}

.card .card-body {
    height: 40% !important;
}

.card img:hover {
    cursor: pointer;
    transform: scaleX(1.2);
}

@media (max-width:600px) {
    .card {
        height: fit-content !important;
        overflow: hidden;
    }
}